---
namespace: prod
images:
  - name: brizaldi/simple-bank
    newTag: v1.0.4
resources:
  - ../../../simple-bank-base
patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "release"