---
namespace: prod
images:
  - name: brizaldi/simple-bank
    newTag: 0.0.1
resources:
  - ../../../simple-bank-base
patches:
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value: [{ name: dockerconfigjson }]