---
namespace: dev
images:
  - name: brizaldi/simple-bank
    newTag: sha-b6d6ef0a8e641a931b56f79e10b6df1e2073cbe8
resources:
  - ../../../simple-bank-base
patches:
  - target:
      kind: Ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: dev.api.master.mshome.net