---
namespace: dev
images:
  - name: brizaldi/simple-bank
    newTag: sha-79725f5c629faeced15e2026104c8466c83fb5aa
resources:
  - ../../../simple-bank-base
patches:
  - target:
      kind: Ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: dev.api.master.mshome.net