---
namespace: staging
images:
  - name: brizaldi/simple-bank
    newTag: v1.1.0-pre
resources:
  - ../../../simple-bank-base
patches:
  - target:
      kind: Ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: stg.api.master.mshome.net