---
namespace: staging
images:
  - name: brizaldi/simple-bank
    newTag: v1.0.2-pre
resources:
  - ../../../simple-bank-base
patches:
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value: [{ name: dockerconfigjson }]