---
namespace: staging
images:
  - name: brizaldi/simple-bank
    newTag: v1.0.3-pre
resources:
  - ../../../simple-bank-base
patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/envFrom/0/name
        value: simple-bank-secret
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value: [{ name: dockerconfigjson }]